#book{
    .container{
        position: relative;
        top: -60px;
        .book_col-5{
            display: grid;
            grid-template-columns: 369px 159px auto auto auto;
            grid-template-rows: 70px 130px;
            background-color: white;
            .col-5-item-1{
                grid-column: 1/ 6;
                h3{
                    margin: 20px 30px;
                    font-family: $MainFont;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    color: $Blue;
                }
            }
            .col-5-item-2{
                h6{
                    margin: 5px 30px;
                    font-family: $MainFont;
                    color: $Grey;
                    letter-spacing: .5px;
                    font-size: 1em;
                    font-weight: 100;
                }
                select{
                    margin: 0px 30px;
                    padding: 10px 30px;
                    width: 300px;
                    height: 50px;
                    font-family: $MainFont;
                    color: lighten($Blue,20%);
                    letter-spacing: .7px;
                    font-size: 1.2em;
                    cursor: pointer;
                }
            }
            .col-5-item-3{
                h6{
                    margin: 5px 0px;
                    font-family: $MainFont;
                    color: $Grey;
                    letter-spacing: .5px;
                    font-size: 1em;
                    font-weight: 100;
                }
                .box{
                    margin-right: 20px;
                    border: 1px solid $Grey;
                    padding: 13px;
                    text-align: center;
                    letter-spacing: 10px;
                    color: $Red;
                    cursor: pointer;
                    span{
                        font-family: $MainFont;
                        color: $Grey;
                    }
                    i{
                        transition: all .4s;
                        &:hover{
                            color:$Blue;
                        }
                    }
                }
            }
            .col-5-item-4{
                h6{
                    margin: 5px 0px;
                    font-family: $MainFont;
                    color: $Grey;
                    letter-spacing: .5px;
                    font-size: 1em;
                    font-weight: 100;
                }
                .box{
                    margin-right: 20px;
                    border: 1px solid $Grey;
                    padding: 23px 0px;
                    text-align: center;
                    letter-spacing: 10px;
                    color: $Red;
                }
            }
            .col-5-item-5{
                h6{
                    margin: 5px 0px;
                    font-family: $MainFont;
                    color: $Grey;
                    letter-spacing: .5px;
                    font-size: 1em;
                    font-weight: 100;
                }
                .box{
                    margin-right: 20px;
                    border: 1px solid $Grey;
                    padding: 23px 0px;
                    text-align: center;
                    letter-spacing: 10px;
                    color: $Red;
                }
            }
            .col-5-item-6{
                .box{
                    margin-top: 30px;
                    margin-right: 20px;
                    letter-spacing: .5px;
                    text-align: center;
                    background: $Red;
                    transition: all .4s;
                    cursor: pointer;
                    h4{
                        margin: 0px;
                        padding: 9px;
                        font-size: 1.5em;
                        text-transform: uppercase;
                        color:white;
                    }
                    &:hover{
                        background-color: rgb(41,41,58);
                    }
                }
            }
        }
    }
}