#team{
    .container{
        h1{
            margin: 0px;
            padding: 80px;
            font-family: $MainFont;
            font-size: 3.5em;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            color: $Blue;
        }
        .members_col-4{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: 380px 100px;
            grid-gap: 30px;
            .staff_members{
                display: grid;
                grid-template-columns:auto;
                grid-template-rows: 280px 100px;
                &:hover{
                    .staff_images{
                        .social_overlay{
                            opacity: 1;
                            background: rgba(219, 18, 18, 0.8);
                            transform: translateY(0px);
                        }
                    }
                }
                .staff_images{
                    position: relative;
                    &:hover{
                        .social_overlay{
                            opacity: 1;
                            background: rgba(219, 18, 18, 0.8);
                            transform: translateY(0px);
                        }
                    }
                    img{
                        width: 100%;
                    }
                    .social_overlay{
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        background: rgba(219, 18, 18, 0);
                        opacity: 0;
                        transition: all .4s ease;
                        transform: translateY(2px);
                        i{
                            position: relative;
                            left: 80px;
                            margin: 0px 10px;
                            padding: 20px 0px;
                            font-size: 20px;
                            color: white;
                            transition: all .4s ease;
                            cursor: pointer;
                            &:hover{
                                color: black;
                            }
                        }
                    }
                }
                .staff_info{
                    h4{
                        margin: 10px 0px;
                        font-family: $MainFont;
                        font-size: 1.5em;
                        text-transform: uppercase;
                        font-weight: bold;
                        letter-spacing: 1px;
                        color: $Red;
                        transition: all .4s ease;
                        cursor: pointer;
                        &:hover{
                            color: $Blue;
                        }
                    }
                    p{
                        margin: 10px 0px;
                        font-family: $MainFont;
                        font-size: 1em;
                        letter-spacing: 1px;
                        color: $Grey;
                    }
                }
            }
            .button-contain{
                grid-column: 1/5;
                justify-self: center;
                button{
                    position: relative;
                    margin: 20px 20px;
                    width: 230px;
                    padding: 15px 20px;
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                    background-color: $Red;
                    font-family: $MainFont;
                    font-weight: bold;
                    font-size: 1.2em;
                    letter-spacing: 1px;
                    color: white;
                    transition: all .4s ease;
                    cursor: pointer;
                    &:hover{
                        background-color: $FontColor;
                        color: $Red;
                        .top{
                            width: 100%;
                        }
                        .bottom{
                            width: 100%;
                        }
                    }
                    .top{
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 0%;
                        height: 3px;
                        background: $Red;
                        transition: all .3s linear;
                    }
                    .bottom{
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 0%;
                        height: 3px;
                        background: $Red;
                        transition: all .3s linear;
                    }
                }
            }
        }
    }
}